/*
Possible colors to use:
   Eerie Black:     #1b1b1e
   Ocean Boat Blue: #0076c6
   Green (Munsell): #05b083
*/

* {
    outline: none !important;
}

.content {
    margin-top: 60px;
}

body > .container-fluid {
    padding-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    border-top: 1px solid black;
    padding-top: 15px;
    text-align: center;
}

.footer ul {
    padding-left: 0px;
}

.footer li {
    list-style: none;
    
}

html * {
    background: #1b1b1e;
    color: #ffffff;
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}

nav {
    width: 100%;
}

.container-fluid, 
.container-fluid *,
.footer {
    background: #000000;
}

.navbar-nav li.active a {
    border-bottom: 5px solid #05b083;
    background: #000000 !important;
}

.navbar-nav li a:hover {
    border-bottom: 5px solid #05b083;
    background: #000000 !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

nav.navbar-inverse,
.navbar-brand,
.navbar-nav li a {
    background-color: #000000;
    color: #ffffff !important;
}

h1 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}