/*
Possible colors to use:
   Eerie Black:     #1b1b1e
   Ocean Boat Blue: #0076c6
   Green (Munsell): #05b083
*/

* {
    outline: none !important;
}
/**
.content {
    margin-top: 60px;
}
/**
html, body {
    height: 100%;
}
/**
#wrap {
    min-height: 91.5%;
}
/**/
#main {
    overflow: auto;
    padding-bottom: 100px;
}

body > .container-fluid {
    padding-top: 60px;
}

.footer {
    position: relative;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 15px;
}

.footer ul {
    padding-left: 0px;
}

.footer li {
    list-style: none;
    
}

html * {
    background: #1b1b1e;
    color: #ffffff;
}

nav *,
h1, h2, h3, h4, h5, h6,
.footer p,
.footer {
    font-family: "Arial" !important;
}

p {
    font-size: 15px;
}

nav {
    width: 100%;
}

.navbar {
    border-radius: 0px;
}

.container-fluid, 
.container-fluid *,
.footer {
    background: #000000;
}

.navbar-nav li.active a {
    border-bottom: 5px solid #037054;
    background: #000000 !important;
}

.navbar-nav li a:hover {
    border-bottom: 5px solid #05b083;
    background: #000000 !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

nav.navbar-inverse,
.navbar-brand,
.navbar-nav li a {
    background-color: #000000;
    color: #ffffff !important;
}

img.portrait {
    overflow: hidden;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
}

.triplet {
    padding: 0 15px;
    min-height: 350px;
}

.triplet-content {
    border: 1px solid #037054;
    min-height: 300px;
    margin-top: 25px;
    padding: 15px;
}

.triplet h3,
.triplet p {
    text-align: center;
}

.center {
    text-align: center;
}

.underline {
    border-bottom: 1px solid #ffffff;
}

.nospace {
    margin-top: -10px;
}

.main-heading {
    font-size: 40px;
}